@model FIT5032__Ass_version2.Models.Evaluation

@{
    ViewBag.Title = "Rate";
}

@*<h2>Details</h2>

    <div>
        <h4>Evaluation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rate_num)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rate_num)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<br>
<br>

<br>
<h1>Does our service satisfy you? </h1>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.DropDownList("DROPDOWNLIST", null, null, new { @class = "form-control" })
    </div>
    <br>
    <div>
        <label>
            <input type="submit" onclick="myFunction()" value="Submit" />
        </label>
    </div>

}